<div 
style="width:100%; height:100%;"
ng-controller="introController"
custom-on-drop="dropFolders"
 ng-cloak>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised" ng-click="openFolder()" flex>Open</md-button>
            <md-button class="md-raised" ng-click="savePaths()" flex>Save</md-button>
            <md-list>
                <md-subheader class="md-no-sticky"></md-subheader>
                <md-list-item class="md-3-line" ng-repeat="folder in folders | unique: 'path' | isFolder">
                    {{folder.path}}
                </md-list-item>
            </md-list>
            <!--<button custom-on-change="uploadFile">Open</button>-->
        </section>
    </md-content>
</div>
